 <br>
 <h2>User info</h2>
 <%= image_tag user.get_profile_image(100,100) %>

 <%= form_with model: user do |f| %>
  <table class="table">
   <tbody>
    <tr></tr>
    <tr>
     <th>name</th>
     <th><%= user.name %></th>
    </tr>
    <tr>
     <th>introduction</th>
     <th><%= user.introduction %></th>
    </tr>
   </tbody>
  </table>
 <% end %>
  <div class="row">
   <%= link_to" edit", edit_user_path(user), class: "btn btn-outline-secondary btn-block" %>
  </div><br>

  <h2>New book</h2>
  <%= form_with model: book do |f| %>
   <% if book.errors.any? %>
    <div class="alert">
     <%= book.errors.count %>件のエラーが発生しました
      <ul>
        <% book.errors.full_messages.each do |message| %>
         <li><%= message %></li>
        <% end %>
      </ul>
     </div>
    <% end %>


    <div class="field">
     <label for="book_title">Title</label>
     <br>
     <%= f.text_field :title %>
    </div>

    <div class="field">
     <label for="book_opinion">Opinion</label>
     <br>
     <%= f.text_area :body %>
    </div>

    <div class="actions"><br>
    <%= f.submit "Create Book", class: "btn btn-success" %>
    </div>
   <% end %>
